[submodule "epics-base"]
	path = epics-base
	url = https://github.com/mdavidsaver/epics-base.git
[submodule "pvAccess"]
	path = pvAccess
	url = https://github.com/mdavidsaver/pvAccessCPP.git
	branch = pva2pva
[submodule "pvData"]
	path = pvData
	url = https://github.com/mdavidsaver/pvDataCPP.git
	branch = pva2pva
[submodule "pvaSrv"]
	path = pvaSrv
	url = https://github.com/mdavidsaver/pvaSrv.git
	branch = pva2pva
[submodule "pva2pva"]
	path = pva2pva
	url = https://github.com/mdavidsaver/pva2pva.git
[submodule "pvaPy"]
	path = pvaPy
	url = https://github.com/mdavidsaver/pvaPy.git
[submodule "normativeTypes"]
	path = normativeTypes
	url = https://github.com/epics-base/normativeTypesCPP.git
[submodule "pvaClient"]
	path = pvaClient
	url = https://github.com/epics-base/pvaClientCPP.git
