[submodule "epics-base"]
	path = epics-base
	url = https://github.com/epics-base/epics-base.git
[submodule "pvAccess"]
	path = pvAccess
	url = https://github.com/epics-base/pvAccessCPP.git
[submodule "pvData"]
	path = pvData
	url = https://github.com/epics-base/pvDataCPP.git
[submodule "pvaSrv"]
	path = pvaSrv
	url = https://github.com/epics-base/pvaSrv
[submodule "pvaPy"]
	path = pvaPy
	url = https://github.com/mdavidsaver/pvaPy.git
[submodule "normativeTypes"]
	path = normativeTypes
	url = https://github.com/epics-base/normativeTypesCPP.git
[submodule "pvaClient"]
	path = pvaClient
	url = https://github.com/epics-base/pvaClientCPP.git
[submodule "masarService"]
	path = masarService
	url = https://github.com/epics-base/masarService.git
